.theme-container.api-docs-class {

}



@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-ultralight-aaa.woff2') format('woff2'), url('/fonts/ploni-ultralight-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-ultralight-aaa.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-regular-aaa.woff2') format('woff2'), url('/fonts/ploni-regular-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-regular-aaa.woff') format('woff'), url('/fonts/ploni-regular-aaa.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-bold-aaa.woff2') format('woff2'), url('/fonts/ploni-ultrabold-aaa.woff2') format('woff2'), url('/fonts/ploni-ultrabold-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-bold-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-bold-aaa.woff') format('woff'), url('/fonts/ploni-bold-aaa.woff') format('woff'), url('/fonts/ploni-ultrabold-aaa.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-demibold-aaa.woff2') format('woff2'), url('/fonts/ploni-demibold-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-demibold-aaa.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-light-aaa.woff2') format('woff2'), url('/fonts/ploni-light-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-light-aaa.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-black-aaa.woff2') format('woff2'), url('/fonts/ploni-black-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-black-aaa.woff') format('woff'), url('/fonts/ploni-black-aaa.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ploni aaa';
  src: url('/fonts/ploni-medium-aaa.woff2') format('woff2'), url('/fonts/ploni-medium-aaa.eot') format('embedded-opentype'), url('/fonts/ploni-medium-aaa.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: "Ploni aaa";
}
