$accentColor: #006DFF;
$textColor: #006dff;
$borderColor: #006dff;
$codeBgColor: #006dff;
$arrowBgColor: #006dff;
$badgeTipColor: #006dff;
$badgeWarningColor: darken(#006dff, 35%);
$badgeErrorColor: #006dff;